// Typography and global styles

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

body {
  font-family: sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

// Focus indicators

a:focus,
a:active,
input:focus,
input:active,
button:focus,
button:active {
  outline: 1px solid orange;
}

// Block Editor classes

@each $align in (left, center, right) {
  .has-text-align-#{$align} {
    text-align: $align;
  }
}

@each $slug, $size in (small: 16px, large: 36px) {
  .has-#{$slug}-font-size {
    font-size: $size;
  }
}

@each $slug, $color in $theme-colors {
  .has-#{$slug}-background-color {
    background-color: $color;
  }

  .has-#{$slug}-color {
    color: $color;
  }
}
