.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

//
// Animations
//

.shake {
  animation: shake 0.3s;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

//
// Block Editor classes
//

@each $slug, $color in $theme-colors {
  .has-#{$slug}-background-color {
    background-color: $color;
  }

  .has-#{$slug}-color {
    color: $color;
  }
}
