@use "sass:color" as color;

// Breakpoints
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

// Container max width
$max-width: 840px;
$max-width-wide: 1100px;

// Left and right padding
$gutter: 16px;

// Space between content blocks
$spacer: 30px;

// Fonts
$font-main: "Open Sans", sans-serif;
$font-side: "Lora", sans-serif;

// Colors
$color-light: #fff;
$color-dark: #222;
$color-primary: #dee0e6;
$color-secondary: #ff6150;
$color-tertiary: #134e6f;
$color-grey20: #333;
$color-grey40: #666;
$color-grey60: #999;
$color-grey80: #ccc;
$theme-colors: (
  "light": (
    "background": $color-light,
    "text": $color-dark,
  ),
  "dark": (
    "background": $color-dark,
    "text": $color-light,
  ),
  "primary": (
    "background": $color-primary,
    "text": $color-dark,
  ),
  "secondary": (
    "background": $color-secondary,
    "text": $color-light,
  ),
  "tertiary": (
    "background": $color-tertiary,
    "text": $color-light,
  ),
);

// Mixins
@mixin button {
  display: inline-block;
  padding: 14px 26px;
  background-color: $color-dark;
  color: $color-light;
  border: none;
  border-radius: 0;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $color-light;
    background-color: color.adjust(color.adjust($color-dark, $saturation: -10%), $lightness: 15%);
  }
}

@mixin block-spacing {
  margin: 0 auto $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}
