// Content dimensions

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

$max-width: 900px;
$gutter: 15px;
$spacer: 30px;

// Fonts

@font-face {
  font-family: 'fontello';
  src: url('./../fonts/fontello/fontello.woff2') format('woff2'),
    url('./../fonts/fontello/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Colors

$light: #fff;
$dark: #111;
$grey20: #333;
$grey40: #666;
$grey60: #999;
$grey80: #ccc;
$primary: #afbf98;
$secondary: #675a4b;
$tertiary: #a39db6;

$theme-colors: (
  'light': $light,
  'dark': $dark,
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
);

// Animations

.shake {
  animation: shake 0.3s;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}
