@charset "UTF-8";

// Theme core
@import "variables";

// Blocks
@import "blocks/banner";
@import "blocks/boxes";
@import "blocks/cover";

.has-placeholder {
  padding: 15px;
  background-color: #eee;
  border: 1px dashed #666;
  text-align: center;

  &::before {
    content: "This is a placeholder block.";
  }
}
