@charset "UTF-8";

// Theme core
@import "variables";
@import "fontello";
@import "global";
@import "helpers";

// Theme components
@import "components/app-header";
@import "components/app-footer";

// Blocks
@import "blocks/accordion";
@import "blocks/banner";
@import "blocks/boxes";
@import "blocks/buttons";
@import "blocks/columns";
@import "blocks/cover";
@import "blocks/embed";
@import "blocks/gallery";
@import "blocks/image";
@import "blocks/person";
@import "blocks/pullquote";
@import "blocks/quote";
@import "blocks/table";

/*
Example code. Not to be used as-is in production.
*/
#sample-image {
  width: 200px;
  height: 120px;
  padding: 5px;
  background-image: url("./../img/photo-sample.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline: 1px dashed #999;
}

.posts {
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
