@charset "UTF-8";

// Theme core
@import "variables";
@import "global";

// Theme components
@import "components/app-header";
@import "components/app-footer";

// Theme blocks
@import "blocks/sample";

/*
Example code. Not to be used as-is in production.
*/
#sample-image {
  width: 200px;
  height: 120px;
  padding: 5px;
  background-image: url("./../img/photo-sample.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline: 1px dashed #999;
}
