[data-type="rig/boxes"] {

  > .editor-block-list__block-edit > [data-block] > .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    > .block-list-appender {
      flex: 0 0 100% !important;
    }
  }
}
