body {
  max-width: $max-width;
  margin: 0 auto;
}

header,
main,
footer {
  padding: 20px;
  outline: 1px dashed $grey;
}

/*main > article {

  > * {
    max-width: $max-width;
    margin: 0 auto $spacer;
  }

  > .alignfull {
    max-width: 100%;
  }

  > .alignwide {
    max-width: round(1.25*$max-width);
  }

  > .wp-block-group,
  > .wp-block-columns,
  > .wp-block-gallery {
    margin-bottom: 2*$spacer;
  }
}*/

.demo {

  > div {
    margin-bottom: 15px;
    padding: 30px;
    border: 1px dotted $black;
  }

  .sample-images {

    .sample-background-image {
      width: 200px;
      height: 120px;
      background-color: salmon;
      background-image: url("./../img/turku-castle.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
