// Typography and global styles

body {
  font-family: $sans;
  font-size: 18px;
  line-height: 24px;
}

main {
  max-width: $max-width;
  margin: 0 auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

img[src$=".svg"] {
  width: 100%;
}

// Focus indicators

a:focus,
a:active,
input:focus,
input:active,
button:focus,
button:active {
  outline: 1px solid orange;
}

// WordPress classes

.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-small-font-size {
  font-size: 16px;
}

.has-large-font-size {
  font-size: 36px;
}

// WordPress color classes
// @TODO Do this with a function

.has-black-background-color {
  background-color: $black;
}

.has-white-background-color {
  background-color: $white;
}

.has-primary-background-color {
  background-color: $orange;
}

.has-secondary-background-color {
  background-color: $green;
}

.has-black-color {
  color: $black;
}

.has-white-color {
  color: $white;
}

.has-primary-color {
  color: $orange;
}

.has-secondary-color {
  color: $green;
}
