// Content dimensions

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$max-width: 800px;

$margin: 15px;

// Fonts

$serif: "Times New Roman", serif;
$sans: Verdana, sans-serif;

// Colors

$white: #fff;
$black: #000;
$grey: #888;
$orange: #ff8552;
$green: #297373;

// Animations

@keyframes fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shake {

  0%, 100% {
    transform: rotate(0deg);
  }

  25%, 75% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }
}

.anim-enter-active {
  animation: shake .5s;
}

.anim-leave-active {
  animation: fade-out 2s;
}
