// Content dimensions

$breakpoint-sm: map-get($grid-breakpoints, 'sm');
$breakpoint-md: map-get($grid-breakpoints, 'md');
$breakpoint-lg: map-get($grid-breakpoints, 'lg');
$breakpoint-xl: map-get($grid-breakpoints, 'xl');

$max-width: map-get($container-max-widths, 'xl');
$gutter: $grid-gutter-width;
$spacer: 1rem;

// Fonts

// Colors

$white: #fff;
$black: #000;
$primary: #B25035;
$secondary: #BEA948;
$tertiary: #4D333B;

$body-bg: #51564F;
$body-color: #D6D4B8;

$link-color: red;
$link-hover-color: blue;

$theme-colors: (
  "white": $white,
  "black": $black,
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary
);

// Animations

@keyframes fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shake {

  0%, 100% {
    transform: rotate(0deg);
  }

  25%, 75% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }
}
