.wp-block-quote {

  &.is-style-large {}

  > p:first-child::before {
    content: "\"";
  }

  > p:last-child::after,
  > p:nth-last-child(2)::after {
    content: "\"";
  }

  > p:last-child {
    margin-bottom: 0;
  }
}
