@font-face {
  font-family: fontello;
  src:
    url("./../fonts/fontello/fontello.woff2") format("woff2"),
    url("./../fonts/fontello/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: fontello, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
