{
  "env": {
    "browser": true,
    "es2022": true,
    "vue/setup-compiler-macros": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "vue/html-self-closing": 0,
    "vue/max-attributes-per-line": 0,
    "vue/singleline-html-element-content-newline": 0
  }
}
