[data-type="rig/list-posts"] {

  .items {
    margin: 0;
  }

  .rig-url-input {

    input[type="text"] {
      width: 100%;
      border: 1px solid #757575;

      &:focus {
        border-color: var(--wp-admin-theme-color);
      }
    }
  }
}
