[data-type="rig/box"] {
  flex: 1 1 0px;
  clear: both;
  margin-right: 5px !important;
  margin-left: 5px !important;

  &:first-child {
    margin-left: 20px !important;
  }

  &:nth-last-child(2) {
    margin-right: 20px !important;
  }

  > .editor-block-list__block-edit > [data-block] {
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 1px dashed #8d96a0;
  }
}
