.block-banner {
  display: flex;
  align-items: center;
  text-align: center;

  .image,
  .text {
    width: 50%;
    flex-grow: 1;
  }

  &.is-style-image-above {
    display: block;

    .image,
    .text {
      width: 100%;
    }
  }

  &.is-style-image-right .image {
    order: 1;
  }

  .wp-block-button {
    width: 100%;
  }
}
