.block-banner {
  display: flex;
  align-items: center;
  text-align: center;

  .image,
  .text {
    width: 50%;
    flex-grow: 1;
  }

  .is-flipped {
    order: 1;
  }

  .wp-block-button {
    width: 100%;
  }
}
