.block-boxes {
  h2 {
    text-align: center;
  }

  .wp-block-column {
    h2 {
      text-align: inherit;
    }
  }

  .wp-block-cover {
    height: 100%;
    min-height: 30px;
    background-color: rgb(0 0 0 / 20%);
  }
}
