.wp-block-columns {
  .wp-block-column > * {
    @include element-spacing;
  }

  &:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
    margin-left: $gutter;
  }

  &.is-style-collapse {
    > .wp-block-column[style*="flex-basis"] {
      margin-left: 0;

      > * {
        padding: $gutter;
      }
    }
  }
}
