.wp-block-columns {
  @include block-spacing;

  &.is-style-collapse {
    max-width: $max-width;

    .wp-block-column {
      padding: 0;

      > * {
        padding: {
          right: $gutter;
          left: $gutter;
        }
      }

      > *:first-child {
        padding-top: $gutter;
      }

      > *:last-child {
        padding-bottom: $gutter;
      }
    }
  }
}
