footer {

  .sample-images {

    .sample-background-image {
      width: 200px;
      height: 120px;
      background-color: salmon;
      background-image: url("./../img/turku-castle.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
