.block-boxes {
  display: flex;
  gap: $gutter;

  + .block-boxes {
    margin-top: $gutter;
  }

  &.is-style-collapse {
    gap: unset;

    + .block-boxes {
      margin-top: 0;
    }
  }

  > .block-box {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 0;
    flex-grow: 1;
    padding: $gutter;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.vertical-align-top {
      &-center {
        justify-content: center;
        text-align: center;

        .wp-block-buttons {
          justify-content: center;
        }
      }

      &-right {
        justify-content: flex-end;
        text-align: right;

        .wp-block-buttons {
          justify-content: flex-end;
        }
      }
    }

    &.vertical-align-center {
      align-content: center;
      justify-content: center;
      text-align: center;

      .wp-block-buttons {
        justify-content: center;
      }

      &-left {
        align-content: center;
      }

      &-right {
        align-content: center;
        justify-content: flex-end;
        text-align: right;

        .wp-block-buttons {
          justify-content: flex-end;
        }
      }
    }

    &.vertical-align-bottom {
      &-left {
        align-content: flex-end;
      }

      &-center {
        align-content: flex-end;
        justify-content: center;
        text-align: center;

        .wp-block-buttons {
          justify-content: center;
        }
      }

      &-right {
        align-content: flex-end;
        justify-content: flex-end;
        text-align: right;

        .wp-block-buttons {
          justify-content: flex-end;
        }
      }
    }
  }
}
