.has-background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // Prevent background color from covering background image if color has been added after image
  .has-background-color {
    background-color: transparent !important;
  }
}
